body {
    padding-left: 100px;
    color: forestgreen;
    background-color: lightblue;
}

div#navbar {
 height: 100px;
 width: 2000px;
 background-repeat:repeat-x;
    background-color: red;
}

div#navbar ul {
	line-height: 40px;	
	font-size: 24px;
	margin: 0px;
 	padding: 0px;
}

div#navbar li {
 list-style-type: none;
 display: inline;
 padding-right: 15px;
}

div#navbar li a {
 text-decoration: none;
}

div#navbar li a:hover{
 color: red;
 border-bottom: dashed 1px;
}

label {
  display: block;
  margin: 5px 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 10px 30px 10px 30px;
  border-bottom: 1px solid #aaa;
}

h1{
	color:green;
}


h3{
	color:#ff0000;

}

footer{
	width:1000px;
	border-top: dotted 1px;
}

p{
	width: 600px;
}